@import "variables/colors";
@import "variables/fonts";
@import "variables/sizes";

body {
  font-family: 'Roboto',serif;
  margin: 0;
}

.page {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.page-navbar {
  width: 100%;
  height: $nav-height;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 10px 5px $grey;
}

.page-content {
  position: relative;
  overflow-y: auto;
  flex-direction: column;
  flex: 1;
  padding: 50px;
}

.page-footer {
  height: $footer-height;
  background-color: $blue;
}

.contact {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: $white;
  font-size: $font-big;

  &-input {
    max-width: 300px;
    width: 100%;
    font-size: $font-small;
    outline: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border-width: 0;
    padding: 8px 10px;
    outline: 0;
    -webkit-appearance: none;
  }

  &-submit {
    font-size: $font-medium;
    color: $white;
    background: none;
    border: 1px solid $white;
    border-radius: 2px;
    padding: 12px 25px;
  }
}

.tech-card {
  height: $tech-card-height;
  width: $tech-card-width;
  margin: 20px;

  &-content {
    height: $tech-card-height;
    width: $tech-card-width;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    &-title {
      font-size: $font-medium;
      margin-top: 30px;
    }

    &-image {
      width: $tech-logo-size;
      height: $tech-logo-size;
      align-content: center;
      margin-top: 20px;
      -o-object-fit: cover;
      overflow: hidden;
    }

    &-release {
      font-weight: bold;
      margin-top: 15px;
      font-size: $font-small;
    }

    &-description {
      font-size: $font-small;
      padding: 25px 25px;
    }
  }
}

.logo {
  margin: 0 20px;
}

.menu {
  font-size: $font-big;
  margin: 0 20px;
}

.dev {
  &-header {
    flex-direction: column;
    height: $triangle-height;
    flex-flow: row nowrap;
    position: relative;

    &-title {
      position: absolute;
      top: 20%;
      left: $triangle-width/2;
      font-size: $font-big;
      font-weight: normal;
    }

    &::before {
      background: url("images/triangle.svg") no-repeat;
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      width: $triangle-width;
      height: $triangle-height;
    }
  }

  &-content {
    width: 100%;
    max-width: 1200px;
    margin: 60px auto;
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: repeat(3, max-content);
  }

  

}

.item-a {
  align-self: center;
  grid-row: 1 / 3;
  height: 100%;
  display: flex;
  align-items: center;
  border-right: 2px solid $green;
}

@media screen and (max-width: 600px) {
  .dev-content {
    grid-template-columns: 100%;
  }

  .item-a {
    border-right: 0;
  }

  .tech-card {
    border-bottom: 2px solid $green;
  }

  .menu {
    display: none;
  }

}
