@import '../../consts/colors.scss';

.bookDetailContainer {
  width: 100%;
  max-width: 900px;
  margin: 20px auto;
}

.breadCrumb {
  font-size:12px;
  color: $darkGray;
  letter-spacing:0px;
  line-height:19px;
  margin: 0 35px;
}