@import '../../consts/sizes';
@import '../../consts/colors';

.image {
  width: $bookImageWidth;
  height: $bookImageHeight;
}

.bookCard {
  width: $bookImageWidth;
  margin-top: 60px;
}

.title {
  font-size: 14px;
  color: $black;
  font-family: 'Roboto-bold', sans-serif;
  letter-spacing: 0px;
  line-height: 19px;
  margin-top: 10px;
}

.author {
  font-size: 12px;
  color: $darkGray;
  letter-spacing: 0px;
  line-height: 19px;
}
