$black: #000;
$bookDefaultImageBackground: #D8D8D8;
$darkGray: #4A4A4A;
$gray: #9B9B9B;
$anotherGray: #999;
$lightGray: #F4F4F4;
$white: #FFF;
$green: #A5CD39;
$turquoise: #00ADEE;
$transparentGray: rgba(0, 0, 0, 0.1);
