@import '../../consts/sizes';
@import '../../consts/colors';

.image {
  height: $bookImageHeight;
  width: $bookImageWidth;
  background: $bookDefaultImageBackground;
  display: flex;
  justify-content: center;
  align-items: center;
}

.defaultImage {
  height: $bookDefaultImageSize;
  width: $bookDefaultImageSize;
}

