@import './../../consts/colors.scss';

.title {
  font-family: 'Roboto-bold', sans-serif;
  font-size: 20px;
  color: $green;
  line-height: 19px;
}

.commentsContainer {
  max-width: 800px;
  margin: 20px auto;
}